{% set nextjs_mode = node_deploy_nextjs_deployment_mode | default('standalone') | lower | replace('_', '-') %}
{% set app_framework = node_deploy_app_framework | default('nextjs') | lower | replace('_', '-') %}
{% set react_document_root = node_deploy_react_document_root | default('build') %}
{% set react_index_path = 'index.html' if react_document_root in ['', '.'] else react_document_root ~ '/index.html' %}
{% set nextjs_package_expected_files = ['package.json', '.next/BUILD_ID', '.next', 'node_modules/next'] if nextjs_mode == 'next-start' else ['server.js', '.next/BUILD_ID', '.next/static'] %}
{% set react_package_expected_files = [node_deploy_start_script | default('server.js'), react_index_path] %}
{% set default_package_expected_files = react_package_expected_files if app_framework in ['react', 'reactjs', 'react-js'] else nextjs_package_expected_files %}
{% set configured_package_expected_files = node_deploy_package_expected_files | default([]) %}
{% set package_expected_files = configured_package_expected_files if configured_package_expected_files | length > 0 else default_package_expected_files %}
{% set configured_node_arguments = node_deploy_node_arguments | default('') %}
{% set default_node_arguments = 'start -H ' ~ node_deploy_bind_address if nextjs_mode == 'next-start' else '' %}
{% set node_arguments = configured_node_arguments if configured_node_arguments | length > 0 else default_node_arguments %}
{
  "AppName": {{ node_deploy_project_name | to_json }},
  "DisplayName": {{ node_deploy_display_name | to_json }},
  "Description": {{ node_deploy_description | default(node_deploy_display_name ~ ' production service') | to_json }},
  "DeploymentMode": {{ node_deploy_mode | to_json }},
  "AppFramework": {{ node_deploy_app_framework | default('nextjs') | to_json }},
  "NextjsDeploymentMode": {{ nextjs_mode | to_json }},
  "ReactDocumentRoot": {{ react_document_root | to_json }},
  "NextjsRequireStaticAssets": {{ node_deploy_nextjs_require_static_assets | default(true) | bool | to_json }},
  "NextjsRequirePublicDirectory": {{ node_deploy_nextjs_require_public_directory | default(false) | bool | to_json }},
  "NextjsRequireServerActionsEncryptionKey": {{ node_deploy_nextjs_require_server_actions_encryption_key | default(false) | bool | to_json }},
  "NextjsRequireDeploymentId": {{ node_deploy_nextjs_require_deployment_id | default(false) | bool | to_json }},
  "NextjsMinimumNodeVersion": {{ node_deploy_nextjs_minimum_node_version | default('20.9.0') | string | to_json }},
  "ServiceManager": {{ node_deploy_windows_service_manager | to_json }},
  "ReverseProxy": {{ node_deploy_windows_reverse_proxy | to_json }},
  "AutoDownloadWinSW": {{ node_deploy_windows_auto_download_winsw | default(true) | bool | to_json }},
  "WinSWDownloadUrl": {{ node_deploy_windows_winsw_download_url | default('https://github.com/winsw/winsw/releases/download/v2.12.0/WinSW-x64.exe') | to_json }},
  "RequireWinSWDownloadSha256": {{ node_deploy_windows_require_winsw_download_sha256 | default(true) | bool | to_json }},
  "WinSWDownloadSha256": {{ node_deploy_windows_winsw_download_sha256 | default('05B82D46AD331CC16BDC00DE5C6332C1EF818DF8CEEFCD49C726553209B3A0DA') | to_json }},
  "AppDirectory": {{ node_deploy_app_dir_windows | to_json }},
  "PackagePath": {{ node_deploy_package_path_windows | default('') | to_json }},
  "PackageExpectedFiles": {{ package_expected_files | to_json }},
  "PackageStripSingleTopLevelDirectory": {{ node_deploy_package_strip_single_top_level_directory | default(true) | bool | to_json }},
  "StartCommand": {{ node_deploy_start_script | to_json }},
  "NodeExe": {{ node_deploy_windows_node_exe | to_json }},
  "NodeArguments": {{ node_arguments | to_json }},
  "InstallCommand": {{ node_deploy_install_command | default('') | to_json }},
  "BuildCommand": {{ node_deploy_build_command | default('') | to_json }},
  "Port": {{ node_deploy_port }},
  "BindAddress": {{ node_deploy_bind_address | to_json }},
  "HealthUrl": {{ node_deploy_health_url | to_json }},
  "HealthCheckIntervalMinutes": {{ node_deploy_healthcheck_interval_minutes }},
  "ServiceDirectory": {{ node_deploy_windows_service_dir | to_json }},
  "LogDirectory": {{ node_deploy_windows_log_dir | to_json }},
  "BackupDirectory": {{ node_deploy_windows_backup_dir | default(node_deploy_windows_service_dir ~ '\\backups') | to_json }},
  "IisSitePath": {{ node_deploy_windows_iis_site_path | to_json }},
  "IisSiteName": {{ node_deploy_windows_iis_site_name | default(node_deploy_project_name) | to_json }},
  "IisAppPoolName": {{ node_deploy_windows_iis_app_pool_name | default(node_deploy_project_name ~ '-AppPool') | to_json }},
  "PublicHostName": {{ node_deploy_public_hostname | to_json }},
  "PublicPort": {{ node_deploy_public_port | default(443) }},
  "TlsEnabled": {{ node_deploy_tls_enabled | bool | to_json }},
  "IisCertificateThumbprint": {{ node_deploy_windows_iis_certificate_thumbprint | default('') | to_json }},
  "IisEnableArrProxy": {{ node_deploy_windows_iis_enable_arr_proxy | default(true) | bool | to_json }},
  "IisRequireUrlRewrite": {{ node_deploy_windows_iis_require_url_rewrite | default(true) | bool | to_json }},
  "IisRequireArrProxy": {{ node_deploy_windows_iis_require_arr_proxy | default(true) | bool | to_json }},
  "IisSetForwardedHeaders": {{ node_deploy_windows_iis_set_forwarded_headers | default(true) | bool | to_json }},
  "IisHealthProxyPath": {{ node_deploy_windows_iis_health_proxy_path | default('health') | to_json }},
  "IisWebSocketSupport": {{ node_deploy_windows_iis_websocket_support | default(true) | bool | to_json }},
  "IisProxyTimeoutSeconds": {{ node_deploy_windows_iis_proxy_timeout_seconds | default(300) }},
  "ServiceAccount": {{ node_deploy_windows_service_account | default('NetworkService') | to_json }},
  "ServiceAccountPassword": {{ node_deploy_windows_service_account_password | default('') | to_json }},
  "FailureRestartDelaySeconds": {{ node_deploy_failure_restart_delay_seconds | default(60) }},
  "HealthCheckFailureThreshold": {{ node_deploy_healthcheck_failure_threshold | default(2) }},
  "HealthCheckRestartCooldownMinutes": {{ node_deploy_healthcheck_restart_cooldown_minutes | default(5) }},
  "HealthCheckTimeoutSeconds": {{ node_deploy_healthcheck_timeout_seconds | default(10) }},
  "LogRetentionDays": {{ node_deploy_log_retention_days | default(30) }},
  "BackupRetentionDays": {{ node_deploy_backup_retention_days | default(90) }},
  "DiagnosticRetentionDays": {{ node_deploy_diagnostic_retention_days | default(14) }},
  "Environment": {{ node_deploy_environment | to_json }}
}
