NODE_ENV=production
APP_NAME={{ node_deploy_project_name }}
PORT={{ node_deploy_port }}
BIND_ADDRESS={{ node_deploy_bind_address }}
{% for key, value in node_deploy_environment.items() %}
{{ key }}={{ value }}
{% endfor %}
