[Unit]
Description={{ node_deploy_display_name }}
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ node_deploy_linux_service_user }}
Group={{ node_deploy_linux_service_group }}
WorkingDirectory={{ node_deploy_app_dir_linux }}
EnvironmentFile=-/etc/{{ node_deploy_project_name }}.env
ExecStart={{ node_deploy_linux_node_bin }} {{ node_deploy_start_script }} {{ node_deploy_node_arguments | default('') }}
Restart=always
RestartSec=60
StandardOutput=append:{{ node_deploy_linux_log_dir }}/stdout.log
StandardError=append:{{ node_deploy_linux_log_dir }}/stderr.log
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
ReadWritePaths={{ node_deploy_app_dir_linux }} {{ node_deploy_linux_log_dir }}

[Install]
WantedBy=multi-user.target
